*{
    margin: 0;
    padding: 0;
    background-color: black;
    
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr = 100% here its like 100/3    */
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);/* minimum row height = 100 maximum can be anything depending on size of content*/
    background-color: black;

    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);

    height: 22rem;
    width: 22rem;

    border-radius: 12px;
    
    margin: auto;
    padding: 1rem;


  
    
    box-shadow:  5px 5px 5px  rgb(0, 255, 179);

   
    
  }




div {
    background-color: #ddd;
    border: none;
    color: black;
    /* padding: 16px 32px; */
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }


.child{
  border-radius: 12px;
  padding: 2rem;
}
.child:hover {
    /* background-color: black; */
    opacity: 0.1;
    
    
  }

  h3{
    color: white;
    margin: 1rem 2rem 4rem 1rem;
    font-weight: 400;
    border-radius: 12px;
    border: 2px solid white;
    width: 5rem;

    padding: 1rem;
   
  }

p{
    color: white;
    margin: 4rem 2rem 4rem 1rem;
    font-weight: 400;
    border-radius: 12px;
    border: 1px solid black;
    width: 5rem;

    padding: 1rem;
    float: right;

    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    
  }




h3:hover{
    color: black;
    background-color: white;
    transition: 1s;
  }

p:hover{
    color: white;
    border: 2px solid white;
    
    transition: 0.5s;
 

  }




  @media only screen and (max-width: 600px) {

    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 1fr = 100% here its like 100/3    */
      gap: 1rem;
      grid-auto-rows: minmax(100px, auto);/* minimum row height = 100 maximum can be anything depending on size of content*/
      background-color: black;
  
      background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
  
      height: 40rem;
      width: 20rem;
  
      border-radius: 12px;
      
      margin: auto;
      padding: 1rem;
  
  
    
      
      box-shadow:  5px 5px 5px  rgb(0, 255, 179);
  
     
      
    }
  

  }